<h2>New Project</h2>
<%= form_for(@project) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <%= f.submit "Henceforth the project shall be created" %>
<% end %>
<p>Oh, and there seems to be a note: &rdquo;<%= @rhinocerous %>&ldquo;.</p>
